.index {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    gap: 1%;
}

body {
    background-color: #e1e1df;
}

.profile_img_name {
    display: flex;
    gap: 2px;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    margin-top: -15px;
}

.profile_Pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
}

.sideBar {
    display: flex;
    width: 250px;
    background-color: white;
    border-radius: 20px;
    justify-content: space-evenly;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 700px;
    position: sticky;
    top: 67px;
}

.sideBar > ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    align-items: center;
    overflow-y: hidden;
    overflow-x: hidden;
}

.sideBar > ul:hover {
    overflow-y: auto;
    overflow-x: hidden;
}

.sideBar > ul > li {
    font-size: 17px;
    list-style: none;
    width: 90%;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    text-align: center;
}

.sideBar > ul > li:hover {
    background-color: gray;
}


.phone {
    display: none;
    width: 100%;
    height: 50px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1px;
}

.phone > div {
    display: flex;
    width: 100px;
    height: 10px;
    background-color: white;
    border-radius: 50px;
}

.info {
    position: sticky;
    top: 67px;
    margin-top: 10px;
    width: 40%;
    height: 500px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.info > img {
    width: 80%;
    border-radius: 20px;
    border: 1px solid black;
    margin-top: 2%;
}

@media (max-width: 700px) {
    .title {
        position: relative;
        top: 0;
    }
    .info {
        position: relative;
        top: 0;
        width: 100%;
        z-index: -1;
    }
    .phone {
    display: flex;
    }
    
    .index {
        gap: 10%;
        flex-direction: column;
    }

    .sideBar > ul {
        width: 100%;
        flex-direction: column;
    }

    .sideBar {
        display: none;
        width: 100%;
        border-radius: 20px;
    }
}


.posts {
    display: flex;
    flex-direction: column;
    gap: 50px;
    overflow-y: visible;
}


.title {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #e1e1df;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
}


.imgPost {
    width: 100%;
    height: 350px;
}

.person {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.postButton {
    width: 135px;
    height: 50px;
    background-color: #e1e1df;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 20px;
    cursor: pointer;
}

.card {
    width: 90%;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    padding: 5%;
    border-radius: 20px;
    max-width: 600px;
}



.post {
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    height: 300px;
    justify-content: space-evenly;
    flex-direction: column;
    border-radius: 20px;
    background-color: white;
    width: 90%;
    padding: 5%;
}

.profile_picture {
    display: flex;
    width: 900px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
}



.display {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: none
}

.display > img {
    width: 100px;
    height: 100px;
}

.account {
    overflow-x: hidden;
}

.profile_img {
    border-radius: 50%;
}

.input_post {
    width: 90%;
    height: 40px;
    border: none;
    border-bottom: 1px solid black;
}

.you {
    display: flex;
    width: 100%;
    flex-direction: column;
    overflow: hidden;
}

.banner > img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: none;
    margin-top: 200px;
    border: 1px solid black;
}

.banner {
    display: flex;
    width: 100%;
    height: 200px;
    background-color: white;
    border-radius: 20px;
    align-items: center;
    justify-content: space-evenly;
    z-index: -1;
}

.you_content {
    display: flex;
    width: 100%;
    margin-top: 20px;
    align-items: center;
    justify-content: space-evenly;
    gap: 30px;
    flex-wrap: wrap;
    background-color: white;
    border-radius: 20px;
    padding-top: 100px;
    padding-bottom: 100px;
    z-index: -2;
    flex-direction: column;
}

.you {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-direction: column;
}

.you_content > div {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
}

.you_content > div > button {
    width: 200px;
    height: 70px;
    border: none;
    background-color: #e1e1df;
    color: black;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
    flex-wrap: wrap;
}


.you_name {
    font-size: 18px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 100px
}

.you_content > button:hover {
    opacity: 60%;
}

.button_post {
    width: 90%;
    border: none;
    background-color: #e1e1df;
    height: 40px;
    cursor: pointer;
}

.account_main {
    display: flex;
    flex-direction: column;
    width: 700px;
    background-color: #e1e1df;
    border-radius: 20px;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 20px;
}

.account_main > div > input {
    width: 200px;
    height: 25px;
}

.account_main > button {
    width: 200px;
    height: 25px;
    background-color: #e1e1df;
    cursor: pointer;
}

.account_main > button:hover {
    opacity: 30%;
}



.youstyle {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    justify-content: center;
}