.index {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    gap: 1%;
}

body {
    background-color: #e1e1df;
}

.profile_img_name {
    display: flex;
    gap: 2px;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    margin-top: -15px;
}

.profile_Pic {
    width: 5l0px;
    height: 50px;
    border-radius: 50%;
    border: none;
}

.sideBar {
    display: flex;
    width: 200px;
    min-width: 200px;
    max-width: 200px;
    background-color: white;
    border-radius: 20px;
    justify-content: space-evenly;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 700px;
    position: sticky;
    top: 67px;
    margin-right: 1%;
}

.sideBar > ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    align-items: center;
    overflow-y: hidden;
    overflow-x: hidden;
}

.author {
    margin-left: 5px;
}

.sideBar > ul:hover {
    overflow-y: auto;
    overflow-x: hidden;
}



.sideBar > ul > li {
    font-size: 17px;
    list-style: none;
    width: 90%;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    text-align: center;
}

.sideBar > ul > li:hover {
    background-color: gray;
}


.phone {
    display: none;
    width: 100%;
    height: 50px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1px;
}

.phone > div {
    display: flex;
    width: 100px;
    height: 10px;
    background-color: white;
    border-radius: 50px;
}

.info {
    position: sticky;
    top: 67px;
    margin-top: 10px;
    width: 40%;
    height: 500px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.info > img {
    height: 200px;
    border-radius: 20px;
    border: 1px solid black;
    margin-top: 2%;
}

@media (max-width: 700px) {
    .title {
        position: relative;
        top: 0;
    }
    .info {
        position: relative;
        top: 0;
        width: 100%;
        z-index: -1;
    }
    .phone {
    display: flex;
    }
    
    .index {
        gap: 10%;
        flex-direction: column;
    }

    .sideBar > ul {
        width: 100%;
        flex-direction: column;
    }

    .sideBar {
        display: none;
        width: 100%;
        border-radius: 20px;
    }
}


.posts {
    display: flex;
    flex-direction: column;
    gap: 50px;
    overflow-y: visible;
}


.title {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #e1e1df;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

#postingDone {
    display: none;
    background-color: black;
    color: white;
    width: 100%;
    height: 100vh;
    position: absolute;
    overflow-y: hidden;
    z-index: 1;
}


.imgPost {
    width: 500px;
}

.image_post_card {
    width: 100%;
    height: 100%;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: black;
    border-radius: 20px;
    cursor: pointer;
}

.person {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.postButton {
    width: 135px;
    height: 50px;
    background-color: #e1e1df;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 20px;
    cursor: pointer;
}

.card {
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    padding: 10%;
    border-radius: 20px;
    max-width: 600px;
    gap: 20px;
}



.post {
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    height: 300px;
    justify-content: space-evenly;
    flex-direction: column;
    border-radius: 20px;
    background-color: white;
    width: 90%;
    padding: 5%;
}

.profile_picture {
    display: flex;
    width: 900px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
}

.profilePic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid black;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.profilePic > img {
    min-width: 50px;
    min-height: 50px;
}



.display {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: none
}

.display > img {
    width: 100px;
    height: 100px;
}

.profile_img {
    border-radius: 50%;
}

.input_post {
    width: 90%;
    height: 40px;
    border: none;
    border-bottom: 1px solid black;
}



.you {
    display: flex;
    width: 100%;
    flex-direction: column;
    overflow: hidden;
}

.bannerImg {
    width: 150px;
    height: 150px;
    border: 1px solid black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
    background-color: white;
    overflow: hidden;
}

.bannerImg > img {
    min-height: 150px;
    min-width: 150px;
}

.banner {
    display: flex;
    width: 100%;
    height: 200px;
    background-color: white;
    border-radius: 20px;
    align-items: center;
    justify-content: space-evenly;
    z-index: -1;
}

.you_content {
    display: flex;
    width: 100%;
    margin-top: 20px;
    align-items: center;
    justify-content: space-evenly;
    gap: 30px;
    flex-wrap: wrap;
    background-color: white;
    border-radius: 20px;
    padding-top: 100px;
    padding-bottom: 100px;
    z-index: -2;
    flex-direction: column;
}

.you {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-direction: column;
}

.you_content > div {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
}

.you_content > div > button {
    width: 200px;
    height: 70px;
    border: none;
    background-color: #e1e1df;
    color: black;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
    flex-wrap: wrap;
}


.you_name {
    font-size: 18px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 100px
}

.you_content > button:hover {
    opacity: 60%;
}

.button_post {
    width: 90%;
    border: none;
    background-color: #e1e1df;
    height: 40px;
    cursor: pointer;
}





.youstyle {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    justify-content: center;
}

.account_main {
    width: 50%;
    background-color: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
    align-items: center;
}

.account_main > div > input {
    width: 90%;
    height: 50px;
}

.account_main > button {
    width: 20%;
    height: 70px;
}

@media (max-width: 700px) {
    .account_main {
        width: 100%;
    }
}

.white {
    background-color: white;
}